fairseq/data-bin
fairseq/apex

fairseq/examples/translation/iwslt14.tokenized.de-en
fairseq/examples/translation/mosesdecoder
fairseq/examples/translation/subword-nmt
fairseq/examples/translation/orig

fairseq/majority_class_logs
fairseq/iwslt_logs
fairseq/generated_translations
fairseq/rationalization_results
fairseq/old_iwslt_logs
fairseq/old_majority_class_logs
fairseq/__pycache__

huggingface/data/webtext_train.txt
huggingface/data/webtext_valid.txt
huggingface/data/webtext_test.txt
huggingface/gpt2_test_output
huggingface/gpt2_logs
huggingface/rationalization_results
huggingface/__pycache__
